themes {{
    pywal {{
        fg "{color3}"
        bg "{color8}"
        black "{background}"
        red "{color2}"
        green "{color3}"
        yellow "{color5}"
        blue "{color1}"
        magenta "{color5}"
        cyan "{color3}"
        white "{color9}"
        orange "{color3}"
    }}
}}
